h2 {
  font-size: large;
  text-align: center
}

h1 {
  font-size: xx-large;
  text-align: center
}

body {
  background-color: LightSlateGrey;
}

ul {
  list-style-type: circle;
  background-color: DarkSlateGrey;
}

img {
  width: 50%;
  height: auto;
}
