h2 {
  font-size: large;
  text-align: center
}

h1 {
  font-size: xx-large;
  text-align: center
}

body {
  background-color: lightSlateGrey;
}

ul {
  list-style-type: circle;
}

img { 
  text-align: center
}
