h2 {
  font-size: large;
  text-align: center
  font-family: Arial,
}

body {
  background-color: lightSlateGrey;
}

ul {
  list-style-type: circle;
}
  
title {
  font-family: Arial,
  font-size: xx-large;
}
