body{
    background-color: Grey;
    }
    
h1{
    text-align: center;
    }
    
h2{
    text-align: center;
    }
 
p{
    margin: 5%;
    font-size: 20px;
    }

#graphimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    }    

ol {
    text-align: center;
    margin-right: 25%;
    margin-left:  25%;
}

h3{
    text-align: center;
}

a{
  text-align: center;
}

ul {
text-align: center;
}

li {
display: inline-block;
}
